/* Big Tablets */
@media screen and (max-width: 1280px){
    
    .footer-language select{
        border-radius: 25px;
        padding: 10px 25px;
        width: 9rem;
    }
    .footer-line-1 .phones-mini-tablets .footer-brand img{
        height: 30px;
    }
}
/* Tablets */
@media screen and (max-width: 1100px){
    .fourth-section img{
        height: 80%;
    }
    .navbar-menu{
        display: flex;
    }
    .navbar-menu .nav-link{
        padding-left: 3rem;
    }
}

/* Semi Tablets */
@media screen and (max-width: 900px){

    .big-title{
        font-size: 56px;
    }
    h1{
        font-size: 28px;
    }
    .navbar{
        display: none;
    }
    .navbar-menu{
        display: none;
    }
    
    .btn-full, .btn-full-2, .btn-bordered, .btn-bordered-2{
        border-radius: 40px;
    }

    .first-section .btn-container{
        margin-top: 2rem;
    }
    .first-section .absolute-container .full-content {
        justify-content: flex-start;
    }
    .first-section .full-content .top-brand{
        display: flex;
        margin: 2rem 0 0rem 0;
    }
    .first-section .full-content .top-brand img{
        height: 40px;
        object-fit: scale-down;
    }
    .first-section .full-content-centered .content {
        flex-direction: column-reverse;
    }

    .second-section .grid-content div {
        margin-top: 1rem;
    }

    .third-section-content h1, .third-section-content p{
        text-align: center;
    }
    .third-section-content div .input-field{
        width: 90%;
    }
    .third-section .right-content{
        align-items: center;
    }
    .fourth-section-content div .input-field{
        max-width: 60%;
    }
    .fourth-section .headline-image{
        right: -20%;
    }
    .tablets-pc{
        display: none;
    }
    .phones-mini-tablets{
        display: flex;
        flex-direction: column;
    }
    .footer-line-1 .phones-mini-tablets .line-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .footer-line-1 .phones-mini-tablets .line-1 .footer-left-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-right: 10px;
    }
    .footer-line-1 .phones-mini-tablets .line-1 .footer-left-content a{
        margin-bottom: 8px;
    }
    .footer-line-1 .phones-mini-tablets .line-1 .footer-left-content p{
        margin-bottom: 1rem;
    }
    .footer-line-1 .phones-mini-tablets .line-2{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
    }
    .footer-line-1 .phones-mini-tablets .line-2 div{
        display: flex;
        max-width: 100%;
    }
    
    .second-section .section-content .grid{
        grid-template-columns: auto auto;
        row-gap: 6rem;
    }
    
    .footer-language select{
        border-radius: 25px;
        padding: 10px 25px;
        width: 7rem;
    }
    .footer-line-2{
        margin-top: 2.5rem;
    }
    .footer-line-2 .social-media-item{
        margin: 0 0.5rem;
    }
    .footer-line-1 .phones-mini-tablets .footer-brand img{
        height: 40px;
    }
    .footer-line-3{
        margin-top: 1rem;
    }
}

/* Mini Tablets */
@media screen and (max-width: 720px){
    .first-section .headline-image{
        height: 70vh;
    }
}

/* Mobiles Phones */
@media screen and (max-width: 580px){
    .big-title{
        font-size: 36px;
    }
    h1{
        font-size: 20px;
    }

    .first-section .btn-container{
        margin-top: 1rem;
    }
    .first-section .btn-container a:nth-child(1){
        margin-right: 1rem;
    }
    .first-section h2{
        margin-top: 1rem;
    }
    .first-section .btn-group{
        margin: 0;
    }
    .first-section .section-subtile{
        font-size: 16px;
    }
    .first-section .headline-image{
        object-position: bottom;
        height: 50vh;
    }

    .fourth-section img{
        right: -30%;
    }
    .fourth-section .button-group{
        margin-top: 0rem;
    }
    .fourth-section-content h1, .fourth-section-content p{
        text-align: center;
    }
    
    .second-section .section-content .grid{
        grid-template-columns: auto;
        row-gap: 3rem;
    }
    .second-section .title-content h1{ 
        margin-top: 3rem;
    }
    .second-section .title-content h1, .second-section .title-content p{
        text-align: center;
        max-width: 100%;
    }
    .second-section .section-content .grid-content img{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .second-section .section-content .grid-content p{
        text-align: center;
    }
    .second-section .section-content .grid-content ul{
        width: 80%;
        margin: auto;
    }
    .second-section .section-content .grid-content img {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Small Phones */
@media screen and (max-width: 392px){
    .first-section .headline-image{
        height: 60vh;
    }
}


/* Mini Phones */
@media screen and (max-width: 320px){
    .big-title{
        font-size: 26px;
    }
    h1{
        font-size: 16px;
    }

    .navbar-brand .brand-part img{
        height: 20px;
    }
    
    .first-section .full-content .top-brand img{
        height: 20px;
    }

    .fourth-section div .input-field{
        max-width: 100%;
    }
    .fourth-section-content div .check-group {
        flex-direction: row;
    }
    .fourth-section-content h1{
        overflow-wrap: anywhere;
    }
    .first-section .headline-image{
        height: 65vh;
    }

    .footer-line-1 .phones-mini-tablets .line-1{
        flex-direction: column;
    }
    .footer-line-1 .phones-mini-tablets .line-1 .footer-language{
        margin: 0.5rem 0;
    }
    .footer-line-1 .phones-mini-tablets .footer-brand img{
        height: 20px;
    }
    .footer-line-2{
        flex-direction: column;
        align-items: center;
    }
    .footer-line-2 .social-media-item {
        margin: 0.5rem;
    }
}

