

/*===== IMPORT EXTERNAL LOCAL FONT =====*/
/* FromHomecoming font */
@font-face {
    font-family: 'FromHomecomingUpdated'; 
    src: url("../fonts/FromHomecomingUpdated.otf") format("opentype");
    font-style: normal;
}
/* Montserrat font */
@font-face {
    font-family: 'MontserratVariableFont_wght'; 
    src: url("../fonts/MontserratVariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

/*===== CSS VARIABLES =====*/
:root{
    /* Colors variables */
    --my-red-color: #B11313;
    --my-yellow-color: #F1C530;
    --my-blue-color: #114C92;

    /* Font variables */
    --main-font: 'MontserratVariableFont_wght';
}

/*===== SETUP DEFAULT PROPERTIES =====*/
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

/*===== GLOBAL WIDGET SETTINGS =====*/
body{
    width: 100%;
    font-family: 'MontserratVariableFont_wght';
    background: #B11313;
    color: #fff;
}
.container{
    width: 100%;
    max-width: 82rem;
    margin: 0 auto;
    padding: 0 2rem;
}
img{
    display: block;
    max-width: 100%;
}
select::-ms-expand {
    display: none;
}

/*===== TEXT PROPERTIES =====*/
.big-title{
    font-size: 80px;
}
h1{
    font-size: 33px;
    font-family: 'FromHomecomingUpdated';
    text-transform: uppercase;
}
h2{
    font-size: 20px;
    font-weight: 700;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
.text-subtitle{
    font-size: 16px;
    font-weight: 500;
}
.text{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
a{
    text-decoration: none;
}

/*===== BUTTONS PROPERTIES =====*/
.btn-full, .btn-full-2, .btn-bordered, .btn-bordered-2{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.btn-full:hover, .btn-full-2:hover, .btn-bordered:hover, .btn-bordered-2:hover{
    cursor: pointer;
}
.btn-full{
    color: var(--my-red-color);
    background: #fff;
    border-radius: 15px;
    padding: 15px 21px;
    margin-right: 1.5rem;
}
.btn-full-2{
    color: var(--my-red-color);
    background: #fff;
    border-radius: 15px;
    padding: 15px 20px;
    font-weight: 600;
    margin: auto;
}
.btn-bordered{
    color: #fff;
    border: #fff solid 1px;
    border-radius: 15px;
    padding: 14px 20px;
}
.btn-bordered-2{
    color: #fff;
    border: #fff solid 1px;
    border-radius: 15px;
    padding: 14px 50px;
}

/*===== NAVBAR SETTINGS =====*/
.navbar{
    width: 100%;
    background: var(--my-red-color);
}
.navbar .justify-between-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}
.navbar-brand{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
}
.navbar-brand .brand-part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar-brand .brand-part img{
    margin: auto;
    object-fit: scale-down;
    object-position: center;
}
.navbar-menu{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
}
.navbar-menu .nav-link{
    color: #fff;
    padding-left: 5rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/*===== FIRST SECTION SETTINGS =====*/
.first-section{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.first-section .absolute-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.first-section .absolute-container .full-content{
    width: 100%;
    height: 100%;
    max-width: 82rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-section .full-content .top-brand{
    display: none;
}
.first-section .headline-image{
    width: 100%;
    object-fit: cover;
    object-position: right;
}
.first-section .full-content-centered{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto 0;
}
.first-section .full-content-centered .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.first-section .full-content-centered .content .btn-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.first-section .full-content-centered h1{
    overflow-wrap: anywhere;
}
.first-section .btn-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.first-section .btn-container a{
    margin-top: 0.5rem;
}
.first-section .btn-container a:nth-child(1){
    margin-right: 2rem;
}
.first-section h2{
    margin-top: 2rem;
}

/*===== SECOND SECTION SETTINGS =====*/
.second-section{
    width: 100%;
}
.second-section .container .title-content{
    max-width: 35rem;
}
.second-section .container .title-content h1{
    overflow-wrap: anywhere;
    margin-bottom: 1rem;
}
.second-section .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    margin: 2rem 0;
}
.second-section .grid-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.second-section .grid-content .grid-text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.second-section .grid-content p{
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
    padding: 0;
}
.second-section .grid-content ul{
    margin: 0;
    padding-left: 2rem;
}
.second-section .grid-content ul li{
    font-weight: 300;
}
.second-section .grid-content img{
    width: 100%;
    object-fit: contain;
    object-position: top;
    margin-bottom: 3rem;
}
.second-section .btn-group-2{
    width: 100%;
    padding: 2rem 0;
    display: flex;
}

/*===== THIRTH SECTION SETTINGS =====*/
.third-section{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.third-section img{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: contain;
    object-position: top left;
    z-index: -1;
    background: var(--my-blue-color);
}
.third-section .right-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.third-section .right-content .third-section-content{
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}
.third-section .right-content .third-section-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third-section{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.third-section-content h1{
    margin: 0;
    width: 100%;
    text-align: end;
    margin-bottom: 0.8rem;
}
.third-section-content p{
    margin-bottom: 0.8rem;
}
.third-section-content div .input-field{
    margin: 8px 0;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    width: 22rem;
    max-width: 25rem;
    border: black solid 1px;
    font-weight: 600;
}
.third-section-content div .btn-bordered, .btn-bordered-2{
    margin-top: 2rem;
}

/*===== FOURTH SECTION SETTINGS =====*/
.fourth-section{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.fourth-section img{
    position: absolute;
    height: 100%;
    bottom: 0;
    right: -10%;
    object-fit: contain;
    object-position: bottom;
    z-index: -1;
}
.fourth-section .left-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    padding: 5rem 0;
}
.fourth-section-content{
    max-width: 35rem;
}
.fourth-section-content{
    max-width: 35rem;
}
.fourth-section-content h1{
    margin: 0;
    text-align: start;
}
.fourth-section-content p{
    text-align: start;
    margin-top: 0.8rem;
}
.fourth-section-content div{
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
}
.fourth-section-content div .input-field{
    margin: 10px 0;
    padding: 10px 25px;
    border: #fff solid 1px;
    color: #fff;
    text-decoration-color: #fff;
    border-radius: 20px;
    width: 22rem;
    max-width: 60%;
    background-color: transparent;
}
.fourth-section-content div .check-group{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    margin-top: 1rem;
    margin-left: 1rem;
    max-width: 25rem;
}
.fourth-section-content div .check-group input{
    margin-right: 1rem;
    height: 20px;
    width: 20px;
}
.fourth-section-content div .check-group label{
    text-align: start;
}
.fourth-section-content div .button-group  .btn-full-2{
    margin-top: 2rem;
}

/*===== FOOTER SETTINGS =====*/
.web-footer{
    background: #000;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.phones-mini-tablets{
    display: none;
}
.tablets-pc{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    row-gap: 1rem;
    justify-content: space-between;
}
.tablets-pc .tablets-pc-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.tablets-pc-content div{
    text-align: center;
}
.tablets-pc-content div:nth-child(1), .tablets-pc-content div:nth-child(2){
    margin-right: 1rem;
}
.footer-audio-line{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
}
.footer-line-1 .tablets-pc .line-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.footer-brand img{
    object-fit: scale-down;
}
.footer-line-1 .tablets-pc .footer-brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2rem;
}
.footer-line-1 .tablets-pc .footer-brand img{
    height: 40px;
}
.footer-line-1 .tablets-pc .footer-brand img:nth-child(2){
    max-height: 50%;
    margin: auto;
}
.footer-line-2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
}
.footer-line-2 .social-media-item{
    background: var(--my-red-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.6rem;
}
.footer-line-3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
.footer-line-3 p{
    text-align:center;
}
.footer-language select{
    background: var(--my-red-color);
    border-radius: 15px;
    padding: 8px 15px;
    width: 14rem;
    color: #fff;
    border: none;
    appearance: none;
    background-image: url('../../media/images/angle-down-solid.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 1.2em top 50%, 0 0;
    background-size: .65em auto, 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*===== FOURTH SECTION INPUT ITEMS PLACEHOLDER COLOR SETTINGS =====*/
/* Moderns browsers */
.placeholder-white::placeholder {
    color: white;
}
/* WebKit, Edge */
.placeholder-white::-webkit-input-placeholder {
    color: white;
}
/* Firefox 4-18 */
.placeholder-white:-moz-placeholder {
    color: white;
    opacity: 1;
}
/* Firefox 19+ */
.placeholder-white::-moz-placeholder {
    color: white;
    opacity: 1;
}
/* IE 10-11 */
.placeholder-white:-ms-input-placeholder {
    color: white;
}
/* Edge */
.placeholder-white::-ms-input-placeholder {
    color: white;
}